<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated robotDSL -->
      <package
            uri="http://www.example.org/robotDSL"
            class="robotDSL.RobotDSLPackage"
            genModel="model/robotDSL.genmodel"/>
   </extension>

</plugin>
